DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"

BETTER_AUTH_URL="http://localhost:8080"
BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

